[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "libraries/VulkanMemoryAllocator"]
	path = libraries/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "libraries/tinyobjloader"]
	path = libraries/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libraries/stb"]
	path = libraries/stb
	url = https://github.com/nothings/stb.git
[submodule "libraries/vk-bootstrap"]
	path = libraries/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "libraries/sdl2-cmake-modules"]
	path = libraries/sdl2-cmake-modules
	url = https://github.com/aminosbh/sdl2-cmake-modules.git
[submodule "libraries/GLSLang-cmake"]
	path = libraries/GLSLang-cmake
	url = https://github.com/v1993/GLSLang-cmake.git
